<div class="container">
    <div class="header mt-2">
        <h1 class="p-4">
            Üdvözlünk
        </h1>
        <h3 class="p-3 ms-3">
            A legjobb szabaduló szobák kizárólag nálunk
        </h3>
    </div>
    <div class="content justify-content-center">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <img src="../../../assets/images/img1.jpg" class="fooldalkep">
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <img src="../../../assets/images/img2.jpg" class="fooldalkep">
                </div>
            </div>
        </div>
            <p class="text-center p-3 mt-2">
                Borzongjatok vagy oldjatok meg relytéjeket.
                Hívd a barátaidat is!
                Foglalj időpontot a fenti men
            </p>
    </div>
    
</div>